<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.narae.cafeorder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_order"
            android:parentActivityName=".activity.LoginActivity" />

        <activity
            android:name=".activity.OrderActivity"
            android:label="@string/title_activity_order"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.HistoryActivity"
            android:label="@string/title_activity_history"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.JoinActivity"
            android:label="@string/title_activity_join"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.BestActivity"
            android:label="@string/title_activity_best"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.CartActivity"
            android:label="@string/title_activity_cart"
            android:parentActivityName=".activity.BestActivity" />
    </application>

</manifest>